[submodule "mqtt-rpc-common"]
	path = mqtt-rpc-common
	url = ../mqtt-rpc-common.git
[submodule "mqtt-rpc-request"]
	path = mqtt-rpc-requestor
	url = ../mqtt-rpc-requestor.git
[submodule "mqtt-rpc-response"]
	path = mqtt-rpc-responder
	url = ../mqtt-rpc-responder.git
